<div class="container">
    <div class="jumbotron mt-4" style="background-color: #FFFFFF;">
        <div class="row">
            <div class="col-sm-5 px-auto">
                <div class="row">
                    <div class="col" id="picture">
                        <img src="{{user.imageURL}}" class="rounded center mt-4 mb-3" alt="Imagen de perfil"
                            id="imageURL" name="imageURL">
                    </div>
                </div>
                <form action="/profile/edit/{{user.id}}?_method=put" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="_method" value="put">
                    <button class="btn btn-custom btn-block my-2" id="inputProfileP">
                        Cambiar foto de perfil
                    </button>
                    <button type="submit" class="btn btn-custom btn-block" id="saveChanges">
                        Guardar cambios
                    </button>
                    <a href="/profile/{{user.id}}" class="btn btn-danger btn-block" style="color: #FFFFFF; id="abort">
                        Cancelar
                    </a>
            </div>
            <div class="col">
                <div class="card-body">
                    <div>
                        <a>Nombre</a>
                        <input type="text" class="form-control my-1" id="name" name="name" value="{{user.name}}"
                            readonly disabled>
                    </div>
                    <div>
                        <a>Apellido paterno</a>
                        <input type="text" class="form-control my-1" id="last_name" name="last_name"
                            value="{{user.last_name}}" readonly disabled>
                    </div>
                    <div>
                        <a>Apellido materno</a>
                        <input type="text" class="form-control my-1" id="second_last_name" name="second_last_name"
                            value="{{user.second_last_name}}" readonly disabled>
                    </div>
                    <div>
                        <a>N&uacute;mero telef&oacute;nico</a>
                        {{#if phone}}
                        <input type="tel" class="form-control my-1" id="phone" name="phone" value="{{phone}}">
                        {{else}}
                        <input type="tel" class="form-control my-1" id="phone" name="phone" value="{{user.phone}}">
                        {{/if}}
                    </div>
                    <div>
                        <a>Direcci&oacute;n</a>
                        {{#if address}}
                        <input type="text" class="form-control my-1" id="address" name="address" value="{{address}}">
                        {{else}}
                        <input type="text" class="form-control my-1" id="address" name="address"
                            value="{{user.address}}">
                        {{/if}}
                    </div>
                    {{#if firsttime}}
                    <div>
                        <a>Curp</a>
                        {{#if curp}}
                        <input type="text" class="form-control my-1" id="curp" name="curp" value="{{curp}}">
                        {{else}}
                        <input type="text" class="form-control my-1" id="curp" name="curp" value="{{user.curp}}">
                        {{/if}}
                    </div>
                    <div>
                        <a>RFC</a>
                        {{#if rfc}}
                        <input type="text" class="form-control my-1" id="rfc" name="rfc" value="{{rfc}}">
                        {{else}}
                        <input type="text" class="form-control my-1" id="rfc" name="rfc" value="{{user.rfc}}">
                        {{/if}}
                    </div>
                    {{else}}
                    <div>
                        <a>Curp</a>
                        <input type="text" class="form-control my-1" id="curp" name="curp" value="{{user.curp}}"
                            readonly disabled>
                    </div>
                    <div>
                        <a>RFC</a>
                        <input type="text" class="form-control my-1" id="rfc" name="rfc" value="{{user.rfc}}" readonly
                            disabled>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card border-white">
                    <div class="row">
                        <div class="col-md-9">
                            <h5 class="card-title ml-3">
                                Lista de correos electr&oacute;nicos
                            </h5>
                        </div>
                        <div class="col-md-3">
                            <h5 class="card-title text-center">
                                Favorito
                            </h5>
                        </div>
                    </div>
                    <div class="card-body ml-1 pt-2">
                        <div>
                            <a>Correo Institucional</a>
                            <div class="row">
                                <div class="col-md-10">
                                    {{#if email_i}}
                                    <input type="email" class="form-control my-1" id="email_i" name="email_i"
                                        value="{{email_i}}">
                                    {{else}}
                                    <input type="email" class="form-control my-1" id="email_i" name="email_i"
                                        value="{{user.email_i}}">
                                    {{/if}}
                                </div>
                                {{#if email.[0]}}
                                <div class="col-md-2">
                                    <input type="checkbox" class="star" name="check_email_i" id="check_email_i" checked>
                                    <label for="check_email_i" class="fas fa-star star mt-2 pr-2"
                                        id="label_check_email_i"></label>
                                </div>
                                {{else}}
                                {{#if email.[3]}}
                                <div class="col-md-2">
                                    <input type="checkbox" class="star" name="check_email_i" id="check_email_i">
                                    <label for="check_email_i" class="fas fa-star star mt-2 pr-2"
                                        id="label_check_email_i"></label>
                                </div>
                                {{else}}
                                <div class="col-md-2">
                                    <input type="checkbox" class="star" name="check_email_i" id="check_email_i"
                                        disabled>
                                    <label for="check_email_i" class="fas fa-star star mt-2 pr-2"
                                        id="label_check_email_i"></label>
                                </div>
                                {{/if}}
                                {{/if}}
                            </div>
                        </div>
                        <div>
                            <a>Correo Plantel</a>
                            <div class="row">
                                <div class="col-md-10">
                                    {{#if email_p}}
                                    <input type="email" class="form-control my-1" id="email_p" name="email_p"
                                        value="{{email_p}}">
                                    {{else}}
                                    <input type="email" class="form-control my-1" id="email_p" name="email_p"
                                        value="{{user.email_p}}">
                                    {{/if}}
                                </div>
                                {{#if email.[1]}}
                                <div class="col-md-2">
                                    <input type="checkbox" class="star" name="check_email_p" id="check_email_p" checked>
                                    <label for="check_email_p" class="fas fa-star star mt-2 pr-2"
                                        id="label_check_email_p"></label>
                                </div>
                                {{else}}
                                {{#if email.[3]}}
                                <div class="col-md-2">
                                    <input type="checkbox" class="star" name="check_email_p" id="check_email_p">
                                    <label for="check_email_p" class="fas fa-star star mt-2 pr-2"
                                        id="label_check_email_p"></label>
                                </div>
                                {{else}}
                                <div class="col-md-2">
                                    <input type="checkbox" class="star" name="check_email_p" id="check_email_p"
                                        disabled>
                                    <label for="check_email_p" class="fas fa-star star mt-2 pr-2"
                                        id="label_check_email_p"></label>
                                </div>
                                {{/if}}
                                {{/if}}
                            </div>
                        </div>
                        <div>
                            <a>Correo Personal</a>
                            <div class="row">
                                <div class="col-md-10">
                                    {{#if email_personal}}
                                    <input type="email" class="form-control my-1" id="email_personal"
                                        name="email_personal" value="{{email_personal}}">
                                    {{else}}
                                    <input type="email" class="form-control my-1" id="email_personal"
                                        name="email_personal" value="{{user.email_personal}}">
                                    {{/if}}
                                </div>
                                {{#if email.[2]}}
                                <div class="col-md-2">
                                    <input type="checkbox" class="star" name="check_email_personal"
                                        id="check_email_personal" checked>
                                    <label for="check_email_personal" class="fas fa-star star mt-2  pr-2"
                                        id="label_check_email_personal"></label>
                                </div>
                                {{else}}
                                {{#if email.[3]}}
                                <div class="col-md-2">
                                    <input type="checkbox" class="star" name="check_email_personal"
                                        id="check_email_personal">
                                    <label for="check_email_personal" class="fas fa-star star mt-2  pr-2"
                                        id="label_check_email_personal"></label>
                                </div>
                                {{else}}
                                <div class="col-md-2">
                                    <input type="checkbox" class="star" name="check_email_personal"
                                        id="check_email_personal" disabled>
                                    <label for="check_email_personal" class="fas fa-star star mt-2  pr-2"
                                        id="label_check_email_personal"></label>
                                </div>
                                {{/if}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-white">
                    <h5 class="card-title ml-1">
                        Informaci&oacute;n del plantel
                    </h5>
                    {{#if firsttime}}
                    <div class="card-body ml-0 pt-1">
                        <div>
                            <a class="">Fecha de ingreso: </a>
                            {{#if admission}}
                            <input type="text" class="form-control my-1" id="admission" name="admission"
                                value="{{admission}}">
                            {{else}}
                            <input type="text" class="form-control my-1" id="admission" name="admission"
                                value="{{user.admission}}">
                            {{/if}}
                        </div>
                        <div>
                            <a class="">Perfil Principal: </a>
                            {{#if profile}}
                            <input type="text" class="form-control my-1" id="profile" name="profile"
                                value="{{profile}}">
                            {{else}}
                            <input type="text" class="form-control my-1" id="profile" name="profile"
                                value="{{user.profile}}">
                            {{/if}}
                        </div>
                        <div>
                            <a class="">Grado máximo de estudios: </a>
                            <select name="study_degree" id="study_degree" class="form-control my-1">
                                {{#if degree.[0]}}
                                <option value="Licenciatura" selected>
                                    Licenciatura
                                </option>
                                <option value="Maestria">
                                    Maestr&iacute;a
                                </option>
                                <option value="Doctorado">
                                    Doctorado
                                </option>
                                {{else}}
                                {{#if degree.[1]}}
                                <option value="Licenciatura">
                                    Licenciatura
                                </option>
                                <option value="Maestria" selected>
                                    Maestr&iacute;a
                                </option>
                                <option value="Doctorado">
                                    Doctorado
                                </option>
                                {{else}}
                                {{#if degree.[2]}}
                                <option value="Licenciatura">
                                    Licenciatura
                                </option>
                                <option value="Maestria">
                                    Maestr&iacute;a
                                </option>
                                <option value="Doctorado" selected>
                                    Doctorado
                                </option>
                                {{else}}
                                {{#if (licenciatura study_degree)}}
                                <option value="Licenciatura">
                                    Licenciatura
                                </option>
                                {{else}}
                                <option value="Licenciatura" selected>
                                    Licenciatura
                                </option>
                                {{/if}}
                                {{#if (maestria study_degree)}}
                                <option value="Maestria" selected>
                                    Maestr&iacute;a
                                </option>
                                {{else}}
                                <option value="Maestria">
                                    Maestr&iacute;a
                                </option>
                                {{/if}}
                                {{#if (doctorado study_degree)}}
                                <option value="Doctorado" selected>
                                    Doctorado
                                </option>
                                {{else}}
                                <option value="Doctorado">
                                    Doctorado
                                </option>
                                {{/if}}
                                {{/if}}
                                {{/if}}
                                {{/if}}
                            </select>
                        </div>
                    </div>
                    {{else}}
                    <div>
                        <div>
                            <a class="">Fecha de ingreso: </a>
                            <input type="text" class="form-control my-1" value="{{user.admission}}" readonly disabled>
                        </div>
                        <div>
                            <a class="">Perfil Principal: </a>
                            <input type="text" class="form-control my-1" value="{{user.profile}}" readonly disabled>
                        </div>
                        <div>
                            <a class="">Grado máximo de estudios: </a>
                            <select name="study_degree" id="academicDegree" class="form-control my-1" disabled>
                                {{#if degree.[0]}}
                                <option value="Licenciatura" selected>
                                    Licenciatura
                                </option>
                                <option value="Maestria" hidden>
                                    Maestr&iacute;a
                                </option>
                                <option value="Doctorado" hidden>
                                    Doctorado
                                </option>
                                {{/if}}
                                {{#if degree.[1]}}
                                <option value="Licenciatura" hidden>
                                    Licenciatura
                                </option>
                                <option value="Maestria" selected>
                                    Maestr&iacute;a
                                </option>
                                <option value="Doctorado" hidden>
                                    Doctorado
                                </option>
                                {{/if}}
                                {{#if degree.[2]}}
                                <option value="Licenciatura" hidden>
                                    Licenciatura
                                </option>
                                <option value="Maestria" hidden>
                                    Maestr&iacute;a
                                </option>
                                <option value="Doctorado" selected>
                                    Doctorado
                                </option>
                                {{/if}}
                            </select>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        </form>
    </div>
</div>

<script>
    $('#inputProfileP').on('click', function (e) {
        div = `<div class="custom-file my-2">
                    <input type="file" name="files" accept="image/*" class="custom-file-input"
                        id="inputProfileP">
                    <label for="inputGroupFile" class="custom-file-label">Elige una imagen</label>
                </div>
        `;
        $('#inputProfileP').replaceWith($(div));
    });

    $('#check_email_i').change(function (e) {
        if ($('#check_email_i').is(":checked")) {
            $('#check_email_p').prop("disabled", true);
            $('#label_check_email_p').prop("disabled", true);
            $('#check_email_personal').prop("disabled", true);
            $('#label_check_email_personal').prop("disabled", true);
        }
        else if ($('#check_email_p').is(":checked")) {
            $('#check_email_i').prop("disabled", true);
            $('#label_check_email_i').prop("disabled", true);
            $('#check_email_personal').prop("disabled", true);
            $('#label_check_email_personal').prop("disabled", true);

        } else if ($('#check_email_personal').is(":checked")) {
            $('#check_email_i').prop("disabled", true);
            $('#label_check_email_i').prop("disabled", true);
            $('#check_email_p').prop("disabled", true);
            $('#label_check_email_p').prop("disabled", true);
        } else {
            if ($('#email_i').val().length > 0) {
                $('#check_email_i').prop("disabled", false);
                $('#label_check_email_i').prop("disabled", false);
            }
            if ($('#email_p').val().length > 0) {
                $('#check_email_p').prop("disabled", false);
                $('#label_check_email_p').prop("disabled", false);
            }
            if ($('#email_personal').val().length > 0) {
                $('#check_email_personal').prop("disabled", false);
                $('#label_check_email_personal').prop("disabled", false);
            }
        }
    });

    $('#check_email_p').change(function (e) {
        if ($('#check_email_i').is(":checked")) {
            $('#check_email_p').prop("disabled", true);
            $('#label_check_email_p').prop("disabled", true);
            $('#check_email_personal').prop("disabled", true);
            $('#label_check_email_personal').prop("disabled", true);
        }
        else if ($('#check_email_p').is(":checked")) {
            $('#check_email_i').prop("disabled", true);
            $('#label_check_email_i').prop("disabled", true);
            $('#check_email_personal').prop("disabled", true);
            $('#label_check_email_personal').prop("disabled", true);

        } else if ($('#check_email_personal').is(":checked")) {
            $('#check_email_i').prop("disabled", true);
            $('#label_check_email_i').prop("disabled", true);
            $('#check_email_p').prop("disabled", true);
            $('#label_check_email_p').prop("disabled", true);
        } else {
            if ($('#email_i').val().length > 0) {
                $('#check_email_i').prop("disabled", false);
                $('#label_check_email_i').prop("disabled", false);
            }
            if ($('#email_p').val().length > 0) {
                $('#check_email_p').prop("disabled", false);
                $('#label_check_email_p').prop("disabled", false);
            }
            if ($('#email_personal').val().length > 0) {
                $('#check_email_personal').prop("disabled", false);
                $('#label_check_email_personal').prop("disabled", false);
            }
        }
    });

    $('#check_email_personal').change(function (e) {
        if ($('#check_email_i').is(":checked")) {
            $('#check_email_p').prop("disabled", true);
            $('#label_check_email_p').prop("disabled", true);
            $('#check_email_personal').prop("disabled", true);
            $('#label_check_email_personal').prop("disabled", true);
        }
        else if ($('#check_email_p').is(":checked")) {
            $('#check_email_i').prop("disabled", true);
            $('#label_check_email_i').prop("disabled", true);
            $('#check_email_personal').prop("disabled", true);
            $('#label_check_email_personal').prop("disabled", true);

        } else if ($('#check_email_personal').is(":checked")) {
            $('#check_email_i').prop("disabled", true);
            $('#label_check_email_i').prop("disabled", true);
            $('#check_email_p').prop("disabled", true);
            $('#label_check_email_p').prop("disabled", true);
        } else {
            if ($('#email_i').val().length > 0) {
                $('#check_email_i').prop("disabled", false);
                $('#label_check_email_i').prop("disabled", false);
            }
            if ($('#email_p').val().length > 0) {
                $('#check_email_p').prop("disabled", false);
                $('#label_check_email_p').prop("disabled", false);
            }
            if ($('#email_personal').val().length > 0) {
                $('#check_email_personal').prop("disabled", false);
                $('#label_check_email_personal').prop("disabled", false);
            }
        }
    });

    $(function () {
        if ($('#email_i').val().length == 0) {
            $('#check_email_i').prop("disabled", true);
            $('#label_check_email_i').prop("disabled", true);
        }
        if ($('#email_p').val().length == 0) {
            $('#check_email_p').prop("disabled", true);
            $('#label_check_email_p').prop("disabled", true);
        }
        if ($('#email_personal').val().length == 0) {
            $('#check_email_personal').prop("disabled", true);
            $('#label_check_email_personal').prop("disabled", true);
        }
    });

    $('#email_i').change(function (e) {
        if ($('#email_i').val().length == 0) {
            $('#check_email_i').prop("disabled", true);
            $('#check_email_i').prop("checked", false);
            $('#label_check_email_i').prop("disabled", true);
        }
        if ($('#email_i').val().length > 0) {
            if ($('#check_email_i').is(":checked")) {
                $('#check_email_i').prop("disabled", false);
                $('#label_check_email_i').prop("disabled", false);
            } else if ($('#check_email_p').is(":checked")) {
                $('#check_email_i').prop("disabled", true);
                $('#label_check_email_i').prop("disabled", true);
            } else if ($('#check_email_personal').is(":checked")) {
                $('#check_email_i').prop("disabled", true);
                $('#label_check_email_i').prop("disabled", true);
            } else {
                $('#check_email_i').prop("disabled", false);
                $('#label_check_email_i').prop("disabled", false);
            }
        }
    });

    $('#email_p').change(function (e) {
        if ($('#email_p').val().length == 0) {
            $('#check_email_p').prop("disabled", true);
            $('#check_email_p').prop("checked", false);
            $('#label_check_email_p').prop("disabled", true);
        }
        if ($('#email_p').val().length > 0) {
            if ($('#check_email_i').is(":checked")) {
                $('#check_email_p').prop("disabled", true);
                $('#label_check_email_p').prop("disabled", true);
            } else if ($('#check_email_p').is(":checked")) {
                $('#check_email_p').prop("disabled", false);
                $('#label_check_email_p').prop("disabled", false);
            } else if ($('#check_email_personal').is(":checked")) {
                $('#check_email_p').prop("disabled", true);
                $('#label_check_email_p').prop("disabled", true);
            } else {
                $('#check_email_p').prop("disabled", false);
                $('#label_check_email_p').prop("disabled", false);
            }
        }
    });

    $('#email_personal').change(function (e) {
        if ($('#email_personal').val().length == 0) {
            $('#check_email_personal').prop("disabled", true);
            $('#check_email_personal').prop("checked", false);
            $('#label_check_email_personal').prop("disabled", true);
        }
        if ($('#email_personal').val().length > 0) {
            if ($('#check_email_i').is(":checked")) {
                $('#check_email_personal').prop("disabled", true);
                $('#label_check_email_personal').prop("disabled", true);
            } else if ($('#check_email_p').is(":checked")) {
                $('#check_email_personal').prop("disabled", true);
                $('#label_check_email_personal').prop("disabled", true);
            } else if ($('#check_email_personal').is(":checked")) {
                $('#check_email_personal').prop("disabled", false);
                $('#label_check_email_personal').prop("disabled", false);
            } else {
                $('#check_email_personal').prop("disabled", false);
                $('#label_check_email_personal').prop("disabled", false);
            }
        }
    });
</script>