<div class="container">
    <div class="jumbotron mt-4" style="background-color: #FFFFFF;">
        <form action="/users/profile/edit_profile/{{user.id}}?_method=put" method="post">
            <input type="hidden" name="_method" value="put">
            <div class="row">
                <div class="col-sm-5 px-auto">

                    <img src="../../public/img/profileTakodachi.png" class="rounded" alt="Imagen de perfil">


                    <!-- Modificar al presionar el boton debe aparecer el input para la imagen, un boton para cancelar y una preview de la imagen
                    posible ayuda para que aparezcan los botones https://www.freecodecamp.org/news/html-button-onclick-javascript-click-event-tutorial/    
                    preview https://www.youtube.com/watch?v=JeQZwDM84xI&ab_channel=MysteryCode
                    preview menos visual https://www.groundtutorial.com/2022/04/preview-image-before-upload.html-->
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" name="image" accept="image/*" class="custom-file-input" id="inputGroupFile101">
                                <label for="inputGroupFile101" class="custom-file-label">Elige una imagen</label>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-block my-2">
                            Cambiar foto de perfil
                        </button>
                    </form>
                    <!------------------------------------>


                    <button type="submit" class="btn btn-primary btn-block my-2">
                        Guardar cambios
                    </button>


                    <a href="/users/profile" class="btn btn-danger btn-block">
                        Cancelar
                    </a>

                </div>
                <div class="col">

                    <div class="card-body">
                        <div>
                            <a>Nombre</a>
                            <input type="text" class="form-control my-1" name="name" value="{{user.name}}">
                        </div>
                        <div>
                            <a>Apellido paterno</a>
                            <input type="text" class="form-control my-1" name="last_name" value="{{user.last_name}}">
                        </div>
                        <div>
                            <a>Apellido materno</a>
                            <input type="text" class="form-control my-1" name="second_last_name"
                                value="{{user.second_last_name}}">
                        </div>
                        <div>
                            <a>N&uacute;mero telef&oacute;nico</a>
                            <input type="tel" class="form-control my-1" name="phone" value="{{user.phone}}">
                        </div>
                        <div>
                            <a>Direcci&oacute;n</a>
                            <input type="text" class="form-control my-1" name="address" value="{{user.address}}">
                        </div>
                        <div>
                            <a>Curp</a>
                            <input type="text" class="form-control my-1" name="curp" value="{{user.curp}}">
                        </div>
                        <div>
                            <a>RFC</a>
                            <input type="text" class="form-control my-1" name="rfc" value="{{user.rfc}}">
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <div class="card border-white">
                        <h5 class="card-title ml-3">
                            Lista de correos electr&oacute;nicos
                        </h5>
                        <div class="card-body ml-1 pt-2">
                            <div>
                                <a>Correo Institucional</a>
                                <input type="email" class="form-control my-1" name="email_i" value="{{user.email_i}}">
                            </div>
                            <div>
                                <a>Correo Plantel: </a>
                                <input type="email" class="form-control my-1" name="email_p" value="{{user.email_p}}">
                            </div>
                            <div>
                                <a>Correo Personal: </a>
                                <input type="email" class="form-control my-1" name="email_personal"
                                    value="{{user.email_personal}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-white">
                        <h5 class="card-title ml-1">
                            Informaci&oacute;n del plantel
                        </h5>
                        <div class="card-body ml-0 pt-1">
                            <div>
                                <a class="">Fecha de ingreso: </a>

                                <input type="date" class="form-control my-1" name="admission"
                                    value="{{admissionFormat}}">
                            </div>
                            <div>
                                <a class="">Perfil Principal: </a>
                                <input type="text" class="form-control my-1" name="professional_profile"
                                    value="{{user.profile}}">
                            </div>
                            <div>
                                <a class="">Grado máximo de estudios: </a>
                                <select name="study_degree" id="academicDegree" class="form-control my-1">
                                    {{#if degree.[0]}}
                                    <option value="Licenciatura" selected>
                                        Licenciatura
                                    </option>
                                    <option value="Maestria">
                                        Maestr&iacute;a
                                    </option>
                                    <option value="Doctorado">
                                        Doctorado
                                    </option>
                                    {{/if}}

                                    {{#if degree.[1]}}
                                    <option value="Licenciatura">
                                        Licenciatura
                                    </option>
                                    <option value="Maestria" selected>
                                        Maestr&iacute;a
                                    </option>
                                    <option value="Doctorado">
                                        Doctorado
                                    </option>
                                    {{/if}}

                                    {{#if degree.[2]}}
                                    <option value="Licenciatura">
                                        Licenciatura
                                    </option>
                                    <option value="Maestria">
                                        Maestr&iacute;a
                                    </option>
                                    <option value="Doctorado" selected>
                                        Doctorado
                                    </option>
                                    {{/if}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>