    <div class="card    " style="background-color: #FFFFFF;">
        <div class="card-header mx-0 row">
            <div class="text-center" style="float: left;">
                {{#if (admin user)}}
                <div class="container">
                    <div class="row">
                        <div class="col-1">
                            <div class="col-1">
                                <a href="/profiles" class="large previous round">&#8249;</a>
                            </div>
                        </div>
                        <div class="card-title mx-auto my-auto py-auto" style="width: 200px;">
                            <h3>Perfil</h3>
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="card-title mx-auto my-auto py-auto" style="width: 200px;">
                    <h3>Perfil</h3>
                </div>
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 ">
                {{#if (admin user)}}
                <img src="{{imageURL}}" class="rounded center mt-4 mb-3" alt="Imagen de perfil"></img>
                {{else}}
                <form action="/profile/edit/{{user.id}}" method="get">
                    <img src="{{imageURL}}" class="rounded center mt-4 mb-3" alt="Imagen de perfil">
                    </img>
                    <button type="submit" class="btn btn-custom btn-block ml-4 my-2">
                        Editar perfil
                    </button>
                </form>
                {{/if}}
            </div>
            <div class="col">
                <div class="card-body">
                    <div>
                        <a>Nombre</a>
                        <input type="text" class="form-control my-1" value="{{name}}" readonly disabled>
                    </div>
                    <div>
                        <a>Apellido paterno</a>
                        <input type="text" class="form-control my-1" value="{{lastName}}" readonly disabled>
                    </div>
                    <div>
                        <a>Apellido materno</a>
                        <input type="text" class="form-control my-1" value="{{sLastName}}" readonly disabled>
                    </div>
                    <div>
                        <a>N&uacute;mero telef&oacute;nico</a>
                        <input type="tel" class="form-control my-1" value="{{phone}}" readonly disabled>
                    </div>
                    <div>
                        <a>Direcci&oacute;n</a>
                        <input type="text" class="form-control my-1" value="{{address}}" readonly disabled>
                    </div>
                    <div>
                        <a>Curp</a>
                        <input type="text" class="form-control my-1" value="{{curp}}" readonly disabled>
                    </div>
                    <div>
                        <a>RFC</a>
                        <input type="text" class="form-control my-1" value="{{rfc}}" readonly disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card border-white">
                    <h5 class="card-title ml-3">
                        Lista de correos electr&oacute;nicos
                    </h5>
                    <div class="card-body ml-1 pt-2">
                        <div>
                            <a>Correo Institucional </a>
                            {{#if email.[0]}}
                            <label id="ministarIns" class="fas fa-star mini-star"></label>
                            {{else}}
                            <label id="ministartPla" class="fas fa-star mini-star-secret"></label>
                            {{/if}}
                            <input type="email" class="form-control my-1" value="{{email_i}}" readonly disabled>
                        </div>
                        <div>
                            <a>Correo Plantel </a>
                            {{#if email.[1]}}
                            <label id="ministarIns" class="fas fa-star mini-star"></label>
                            {{else}}
                            <label id="ministartPla" class="fas fa-star mini-star-secret"></label>
                            {{/if}}
                            <input type="email" class="form-control my-1" value="{{email_p}}" readonly disabled>
                        </div>
                        <div>
                            <a>Correo Personal </a>
                            {{#if email.[2]}}
                            <label id="ministarIns" class="fas fa-star mini-star"></label>
                            {{else}}
                            <label id="ministartPla" class="fas fa-star mini-star-secret"></label>
                            {{/if}}
                            <input type="email" class="form-control my-1" value="{{email_personal}}" readonly disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-white">
                    <h5 class="card-title ml-1">
                        Informaci&oacute;n del plantel
                    </h5>
                    <div class="card-body ml-0 pt-1">
                        <div>
                            <a class="">Fecha de ingreso: </a>
                            <input type="text" class="form-control my-1" value="{{admission}}" readonly disabled>
                        </div>
                        <div>
                            <a class="">Perfil Principal: </a>
                            <input type="text" class="form-control my-1" value="{{profile}}" readonly disabled>
                        </div>
                        <div>
                            <a class="">Grado máximo de estudios: </a>
                            <select name="study_degree" id="academicDegree" class="form-control my-1" disabled>
                                {{#if degree.[0]}}
                                <option value="Licenciatura" selected>
                                    Licenciatura
                                </option>
                                <option value="Maestria" hidden>
                                    Maestr&iacute;a
                                </option>
                                <option value="Doctorado" hidden>
                                    Doctorado
                                </option>
                                {{/if}}
                                {{#if degree.[1]}}
                                <option value="Licenciatura" hidden>
                                    Licenciatura
                                </option>
                                <option value="Maestria" selected>
                                    Maestr&iacute;a
                                </option>
                                <option value="Doctorado" hidden>
                                    Doctorado
                                </option>
                                {{/if}}
                                {{#if degree.[2]}}
                                <option value="Licenciatura" hidden>
                                    Licenciatura
                                </option>
                                <option value="Maestria" hidden>
                                    Maestr&iacute;a
                                </option>
                                <option value="Doctorado" selected>
                                    Doctorado
                                </option>
                                {{/if}}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>