<div class="container">
    <div class="card-header text-white profile">
        Perfil
    </div>
    <div class="form">

        <div class="card-group">
            <div class="card px-auto border-dark">
                <div class="card-header bg-dark text-white">
                    Informaci&oacute;n personal
                </div>
                <div class="card-body">
                    <div>
                        <a>Nombre: </a>
                        <input type="text" class="form-control my-1" value={{name}}>
                    </div>
                    <div>
                        <a>Apellido paterno: </a>
                        <input type="text" class="form-control my-1" value={{last_name}}>
                    </div>
                    <div>
                        <a>Apellido materno: </a>
                        <input type="text" class="form-control my-1" value={{second_last_name}}>
                    </div>
                    <div>
                        <a>N&uacute;mero telef&oacute;nico: </a>
                        <input type="tel" class="form-control my-1" value={{phone}}>
                    </div>
                    <div>
                        <a>Direcci&oacute;n: </a>
                        <input type="text" class="form-control my-1" value={{address}}>
                    </div>
                    <div>
                        <a>Curp: </a>
                        <input type="text" class="form-control my-1" value={{curp}}>
                    </div>
                    <div>
                        <a>RFC: </a>
                        <input type="text" class="form-control my-1" value={{rfc}}>
                    </div>
                </div>
            </div>
            <div class="card px-auto border-dark">
                <div class="card-header bg-dark text-white">
                    Correos electr&oacute;nicos
                </div>
                <div class="card-body">
                    <div>
                        <a>Correo Institucional: </a>
                        <input type="email" class="form-control my-1" value=>
                    </div>
                    <div>
                        <a>Correo Plantel: </a>
                        <input type="email" class="form-control my-1">
                    </div>
                    <div>
                        <a>Correo Personal: </a>
                        <input type="email" class="form-control my-1">
                    </div>
                </div>
            </div>
            <div class="card px-auto border-dark">
                <div class="card-header bg-dark text-white">
                    Informaci&oacute;n del plantel
                </div>
                <div class="card-body">
                    <div>
                        <a class="pt-1">Fecha de ingreso: </a>
                        <input type="date" class="form-control my-1" value={{admission}}>
                    </div>
                    <div>
                        <a class="ml-2">Perfil Principal: </a>
                        <input type="text" class="form-control my-1" value={{profile}}>
                    </div>
                    <div>
                        <a class="ml-2">Grado máximo de estudios: </a>
                        <select name="academicDegree" id="academicDegree" class="form-control my-1">
                            <option value="licenciatura">
                                Licenciatura
                            </option>
                            <option value="maestria">
                                Maestr&iacute;a
                            </option>
                            <option value="doctorado">
                                Doctorado
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block my-2">
            Editar perfil
        </button>
    </div>
</div>